[submodule "apps/symphony/html"]
	path = apps/symphony/html
	url = https://github.com/bauhouse/html-symphony.git
[submodule "apps/symphony/3"]
	path = apps/symphony/3
	url = https://github.com/bauhouse/symphony-3-html.git
[submodule "styleguide"]
	path = styleguide
	url = https://github.com/markuplibrary/styleguide.git
